@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Numans&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/**Trirong Classes**/
.trirong-thin {
  font-family: "Trirong", serif;
  font-weight: 100;
  font-style: normal;
}

.trirong-extralight {
  font-family: "Trirong", serif;
  font-weight: 200;
  font-style: normal;
}

.trirong-light {
  font-family: "Trirong", serif;
  font-weight: 300;
  font-style: normal;
}

.trirong-regular {
  font-family: "Trirong", serif;
  font-weight: 400;
  font-style: normal;
}

.trirong-medium {
  font-family: "Trirong", serif;
  font-weight: 500;
  font-style: normal;
}

.trirong-semibold {
  font-family: "Trirong", serif;
  font-weight: 600;
  font-style: normal;
}

.trirong-bold {
  font-family: "Trirong", serif;
  font-weight: 700;
  font-style: normal;
}

.trirong-extrabold {
  font-family: "Trirong", serif;
  font-weight: 800;
  font-style: normal;
}

.trirong-black {
  font-family: "Trirong", serif;
  font-weight: 900;
  font-style: normal;
}

.trirong-thin-italic {
  font-family: "Trirong", serif;
  font-weight: 100;
  font-style: italic;
}

.trirong-extralight-italic {
  font-family: "Trirong", serif;
  font-weight: 200;
  font-style: italic;
}

.trirong-light-italic {
  font-family: "Trirong", serif;
  font-weight: 300;
  font-style: italic;
}

.trirong-regular-italic {
  font-family: "Trirong", serif;
  font-weight: 400;
  font-style: italic;
}

.trirong-medium-italic {
  font-family: "Trirong", serif;
  font-weight: 500;
  font-style: italic;
}

.trirong-semibold-italic {
  font-family: "Trirong", serif;
  font-weight: 600;
  font-style: italic;
}

.trirong-bold-italic {
  font-family: "Trirong", serif;
  font-weight: 700;
  font-style: italic;
}

.trirong-extrabold-italic {
  font-family: "Trirong", serif;
  font-weight: 800;
  font-style: italic;
}

.trirong-black-italic {
  font-family: "Trirong", serif;
  font-weight: 900;
  font-style: italic;
}

/**mulish**/
.mulish {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* font-weight: <weight>; */
}

.notes {
  color: var(--color_font);
  font-size: 0.75em;
  position: relative;
  cursor: help;
}
.notes::before {
  content: "Notes to Aunt Jill:";
  display: inline-block;
  background-color: var(--color_accent);
  color: var(--color_base);
  padding: 0 0.25rem;
  margin-right:2px;
}
.notes:hover::before {
  /* position: absolute;
  max-width: 150px;
  bottom: 110%;
  right: 0;
  content: "this text is a note that needs to be replaced. the text is small to keep it out of the way.";
  display: inline-block; */
}

:root {
  background-color: var(--color_base);
  text-align: center;
  line-height: 1.5;
  --color_pri: #7a0117;
  --color_accent: #ee5860;
  --color_base_dark: #fff0c1;
  --color_base: #fffef0;
  --color_font: #1f0104;
}
body {
  margin: 0;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
  font-size: 18px;
  text-wrap: balance;
}

h1 {
  /*
    ?font: TriRong
    ?weight: 400
    ?size: 80px
  */
  font-family: "Trirong", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 4.5em;
  line-height: 1.1em;
  color: var(--color_pri);
  margin: 0.33em 0;
}
h3 {
  /*
    ?font: Mulish
    ?weight: 400
    ?size: 40px
  */
  font-family: "Mulish", sans-serif;
  font-family: "Trirong", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2.25em;
  color: var(--color_pri);
  margin: 0.33em 0;
}
p,
a,
button,
textarea,
input,
span {
  /*
    ?font: Mulish
    ?weight: 400
    ?size: 20px
    ?
  */
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 1.075em;
  margin: 0 0 0.33rem;
  padding: 0;
}
textarea,
input {
  color: var(--color_font);
  background-color: var(--color_base);
  border: 1px var(--color_font) solid;
  line-height: 1.5em;
  padding: 0.15rem;
}
p strong {
  font-weight: 700;
}
p i {
  font-style: italic;
}
p {
  color: var(--color_font);
}
a {
  color: var(--color_accent);
  transition: all ease-in-out 0.25s;
  text-decoration: none;
  padding: 0 0 0.13em;
}
a:hover {
  color: var(--color_pri);
}
ul {
  color: var(--color_font);
}
/*custom styles for testing*/
header,
nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
}
header {
  flex-direction: column-reverse;
}
nav {
  flex-direction: row;
}
header nav p {
  display: block;
  margin: 0 0;
}
header nav a {
  display: block;
  margin: 0 0;
}

.fullLogoLink {
  padding: 0 0;
}

header a.active {
  /* font-size: 3.2em;
  line-height: 1.1; */
  border-bottom: 2px solid var(--color_accent);
}
header a.active:hover {
  /* font-size: 3.2em;
  line-height: 1.1; */
  border-bottom: 2px solid var(--color_pri);
}

header,
footer {
  padding: 0 2rem;
}

footer p {
  font-size: 0.9em;
}

.btn {
  background-color: var(--color_accent);
  color: var(--color_base);
  padding: 0.6em 1em;
  font-size: 1em;
  border-radius: 0.25em;
  transition: all ease 0.25s;
  border: 0px solid transparent;
  cursor: pointer;
  box-shadow: 2px 2px 10px -4px var(--color_font),
    inset 0 0 0 -4px var(--color_font);
}
.btn:hover {
  color: var(--color_base);
  box-shadow: 0 0 0 -4px var(--color_font),
    inset 2px 2px 10px -4px var(--color_font);
}

body {
  place-items: normal;
}
textarea {
  width: 100%;
  resize: none;
}

.subNotificationTile {
  position: fixed;
  width: 100%;
  top: -50px;
  left: 0;
  transition: top ease-in-out 0.25s;
}

.subNotificationTile span {
  padding: 0.25rem 0.75rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 60%);
  transition: background-color ease-in-out 0.25s;
}

.subNotificationTile.active {
  top: 0;
}

.subNotificationTile.good span {
  background-color: rgba(0, 255, 77, 60%);
}

.subNotificationTile.bad span {
  background-color: rgba(255, 0, 61, 60%);
}
article {
  margin-bottom: 3.5rem;
  padding: 0 2rem;
}
article.coloredBG.light {
  background-color: var(--color_base_dark);
  padding: 0.66rem 2rem;
}
article.coloredBG.dark {
  background-color: var(--color_pri);
  padding: 0.66rem 2rem;
}

article.coloredBG.dark p{ 
  color:var(--color_base)
} 
article.coloredBG.dark h1, 
article.coloredBG.dark h3{ 
  color:var(--color_base)
}

.projectCard {
  background-color: var(--color_base_dark);
  border-radius: 0.25rem;
  padding: 0.75rem;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  box-shadow: 4px 4px 10px -6px var(--color_font),
    -4px -4px 10px -6px var(--color_base_dark);
}

.projectCard .projectText {
  flex-grow: 2;
}

.projectCard.rightToLeft {
  direction: rtl;
}

.projectCard.leftToRight {
  direction: ltr;
}

img {
  display: block;
  width: 100%;
}

li p {
  text-align: left;
}

form p {
  margin-bottom: 0.5em;
}

.imgH_25 {
  max-height: 25vh;
}

@media (min-width: 768px) {
}
